@import "tailwindcss";

@theme {
    --animate-rotato1: rotato1 100s linear infinite;
    --animate-counter1: counter-rotato1 100s linear infinite;
}

@keyframes rotato1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-rotato1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}